      .step {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: ". step .";
      }

      .cart-step {
        display: flex;
        justify-content: space-between;
      }

      /* 步驟 */
      .cart-part1 {
        width: 100px;
        height: 100px;
        background: var(--main-orange);
        box-shadow: 2px 0 0 var(--main-orange), 5px 0 0 #b36b00,
          0 2px 0 var(--main-orange), 0 5px 0 #b36b00,
          5px 0 0 var(--main-orange), 0 1px 0 var(--main-orange),
          5px 0 0 var(--main-orange), 0 1px 0 var(--main-orange),
          0 5px 0 var(--main-orange), 0 5px 0 0 var(--main-orange),
          5px 0 0 0 var(--main-orange), 0 -5px 0 0 var(--main-orange),
          -5px 0 0 0 var(--main-orange), 0 -8px 0 var(--black),
          0 8px 0 var(--black), -8px 0 0 var(--black), 8px 0 0 var(--black),
          3px 0 0 3px var(--black), -3px 0 0 3px var(--black),
          0 3px 0 3px var(--black), 0 -3px 0 3px var(--black);
        color: var(--white);
      }

      .cart-part2 {
        width: 100px;
        height: 100px;
        background: var(--main-purple);
        box-shadow: 2px 0 0 var(--main-purple), 5px 0 0 #5410ab,
          0 2px 0 var(--main-purple), 0 5px 0 #5410ab,
          5px 0 0 var(--main-purple), 0 1px 0 var(--main-purple),
          0 5px 0 var(--main-purple), 0 5px 0 0 var(--main-purple),
          5px 0 0 0 var(--main-purple), 0 -5px 0 0 var(--main-purple),
          -5px 0 0 0 var(--main-purple), 0 -8px 0 var(--black),
          0 8px 0 var(--black), -8px 0 0 var(--black), 8px 0 0 var(--black),
          3px 0 0 3px var(--black), -3px 0 0 3px var(--black),
          0 3px 0 3px var(--black), 0 -3px 0 3px var(--black);
        color: var(--white);
      }

      .cart-part3 {
        width: 100px;
        height: 100px;
        background: var(--main-purple);
        box-shadow: 2px 0 0 var(--main-purple), 5px 0 0 #5410ab,
          0 2px 0 var(--main-purple), 0 5px 0 #5410ab,
          5px 0 0 var(--main-purple), 0 1px 0 var(--main-purple),
          5px 0 0 var(--main-purple), 0 1px 0 var(--main-purple),
          0 5px 0 var(--main-purple), 0 5px 0 0 var(--main-purple),
          5px 0 0 0 var(--main-purple), 0 -5px 0 0 var(--main-purple),
          -5px 0 0 0 var(--main-purple), 0 -8px 0 var(--black),
          0 8px 0 var(--black), -8px 0 0 var(--black), 8px 0 0 var(--black),
          3px 0 0 3px var(--black), -3px 0 0 3px var(--black),
          0 3px 0 3px var(--black), 0 -3px 0 3px var(--black);
        color: var(--white);
      }
      /* 步驟置中 */
      .cartlist-location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* 進度線 */
      .cart-part-line {
        width: 10px;
        height: 10px;
        background: var(--main-darkpurple);
        box-shadow: 0 0 0 1px var(--main-purple);
        margin-inline: 10px;
      }
      .line-package {
        display: flex;
        height: auto;
        align-items: center;
      }
