.switchCoupon {
  position: relative;
  display: flex;
  justify-content: center;
}

.stateCoupon {
  background-color: var(--main-darkpurple);
}

.inputCoupon {
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  background-color: var(--main-darkpurple);
  border-radius: 0.5rem;
}

.inputCoupon input {
  color: white;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-darkpurple);
}

.all-coupon {
  height: 60vh;
  overflow: auto;
}

.couponName {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  color: white;
  border: 0;
}

.commodity-img {
  background-size: cover;
  background-position: center;
  background-image: url(./img/理想餐桌布置學2.png);
}

.couponName span {
  position: absolute;
  background-color: var(--main-orange);
  padding: 5px 1rem;
  border-radius: 5px;
  bottom: 15%;
}

/* 切換按鈕 */
.checkbox {
  background-color: var(--main-darkpurple);
  position: relative;
  color: white;
  margin: 0.5rem;
}

#coupon_toggle {
  display: none;
}

.checkbox .toggle {
  width: 140px;
  height: 40px;
  position: absolute;
  left: -10px;
  background: var(--main-brightpurple);
  transition: 0.4s;
}

.checkbox .slide {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkbox .slide .text {
  z-index: 100;
}

.state:checked + .checkbox .slide .toggle {
  transform: translateX(125px);
  background: var(--main-brightpurple);
}
/* ----------------------------- */

/* 使用條件底部 */
.Information-coupon {
  border-radius: 50px;
  color: white;
  padding: 5px 1.5rem;
  margin-block: 3px;
  background-color: var(--main-purple);
}

/* 領取按鈕 */
.receive-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-yellow);
  min-width: 150px;
  box-shadow: 3px 0 0 var(--main-yellow), -3px 0 0 var(--main-yellow),
    0 -3px 0 var(--main-yellow), 0 3px 0 var(--main-yellow);
}

.receive-style {
  background-color: var(--main-yellow);
  width: 90%;
  height: 90%;
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='5' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

/* ------------------- */

/* 折價金額 */
.amount {
  color: var(--main-colorpurple);
  font-size: 2rem;
}

.amount-l {
  color: var(--main-colorpurple);
  font-size: 3rem;
}

/* ------------------- */

/* ----------------------- */

/* 拉把樣式 */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-darkpurple);
  border: 2px solid var(--main-purple);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-brightpurple);
  border: 2px solid var(--main-darkpurple);
  box-shadow: inset -3px -3px 0 rgba(0, 0, 0, 0.322);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-purple);
}

/* ----------------------- */

/* 陰影樣式 */
.in-shadow {
  box-shadow: inset -5px -5px 0 rgba(0, 0, 0, 0.236);
}

/* ----------------------- */

/* 背景圖 */
.bg-img {
  background-image: url(/img/b2.jpg);
  background-size: cover;
}

/* ----------------------- */

/* card-board頂部 */
.card-board-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem;
  color: white;
  box-shadow: inset 0 -4px 0 rgba(255, 255, 255, 0.233);
}

.c-bg-purple {
  background-color: var(--main-colorpurple);
}

.d-pink {
  background-color: var(--main-darkpink);
}

.d-purple {
  background-color: var(--main-darkpurple);
}

.m-bg-purple {
  background-color: var(--main-purple);
}

/* ----------------------- */
.boder-pixel {
    position: relative;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}

/* .boder-pixel::before {
    border-style: solid;
    border-width: 4px;
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-image-width: 0 1 1 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    opacity: .2;
  } */

.pixel-box--light {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
    position: relative;
    background-color: #fff;
  }

.pixel-box--noline {
    background-color: #fff;
    box-shadow: 3px 0 0 rgb(200, 200, 200), -3px 0 0 white, 0 -3px 0 white, 0 3px 0 rgb(200, 200, 200);
}

.pixel-border-purple {
    box-shadow: px 0 0 var(--main-colorpurple), -3px 0 0 var(--main-colorpurple), 0 -3px 0 var(--main-colorpurple), 0 3px 0 var(--main-colorpurple);
}

.pixel-border {
  background: var(--main-purple);
  box-shadow: 0 2px 0 0 var(--main-purple),3px 0 0 0 var(--main-purple),0 -2px 0 0 var(--main-purple),-3px 0 0 0 var(--main-purple),
  0 3px 0 0 var(--main-darkpurple),4px 0 0 0 var(--main-darkpurple),0 -3px 0 0 var(--main-darkpurple),-4px 0 0 0 var(--main-darkpurple),
  0 0 0 2px var(--main-darkpurple),2px 0 0 1px var(--main-darkpurple),0 0 0 -2px var(--main-darkpurple),-2px 0 0 1px var(--main-darkpurple); 
}
/* 特殊字體尺寸或樣式 */
.pixel-font {
  font-family: "VT323-Regular";
}

.font-s {
  font-size: 0.8rem;
}


/* 組長寫的 */
