.boder-pixel {
    position: relative;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 4;
    border-image-width: 2;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%23000' /></svg>");
}

/* .boder-pixel::before {
    border-style: solid;
    border-width: 4px;
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23000' /></svg>");
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-image-width: 0 1 1 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    opacity: .2;
  } */

.pixel-box--light {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-image-slice: 2;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23cccccc' /></svg>");
    position: relative;
    background-color: #fff;
  }

.pixel-box--noline {
    background-color: #fff;
    box-shadow: 3px 0 0 rgb(200, 200, 200), -3px 0 0 white, 0 -3px 0 white, 0 3px 0 rgb(200, 200, 200);
}

.pixel-border-purple {
    box-shadow: px 0 0 var(--main-colorpurple), -3px 0 0 var(--main-colorpurple), 0 -3px 0 var(--main-colorpurple), 0 3px 0 var(--main-colorpurple);
}

.pixel-border {
  background: var(--main-purple);
  box-shadow: 0 2px 0 0 var(--main-purple),3px 0 0 0 var(--main-purple),0 -2px 0 0 var(--main-purple),-3px 0 0 0 var(--main-purple),
  0 3px 0 0 var(--main-darkpurple),4px 0 0 0 var(--main-darkpurple),0 -3px 0 0 var(--main-darkpurple),-4px 0 0 0 var(--main-darkpurple),
  0 0 0 2px var(--main-darkpurple),2px 0 0 1px var(--main-darkpurple),0 0 0 -2px var(--main-darkpurple),-2px 0 0 1px var(--main-darkpurple); 
}