@font-face {
    font-family: 'VT323-Regular';
    src: url(/font/VT323-Regular.ttf) format('woff');
}

/* 顏色 */
:root {
    --main-purple: #512893;
    --main-darkpurple: #0D0733;
    --main-brightpurple: #9B6CFF;
    --main-colorpurple: #7817F3;
    --main-yellow: #F3D52E;
    --main-orange: #FF9900;
    --main-darkpink: #FF7269;
    --main-brightpink: #FF93C7;
}

.c-bg-purple {
  background-color: var(--main-colorpurple);
  }
  
.d-pink {
  background-color: var(--main-darkpink);
}

.d-purple {
  background-color: var(--main-darkpurple);
}

.m-bg-purple {
  background-color: var(--main-purple);
}

/* ----------------------- */

/* 特殊字體尺寸或樣式 */
.pixel-font {
    font-family: 'VT323-Regular';
}

.font-s {
    font-size: .8rem;
}

/* ----------------------- */

/* 基本樣式 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ----------------------- */

/* 拉把樣式 */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-darkpurple); 
    border: 2px solid var(--main-purple);
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-brightpurple);
    border: 2px solid var(--main-darkpurple); 
    box-shadow: inset -3px -3px 0 rgba(0, 0, 0, 0.322);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-purple); 
  }

  /* ----------------------- */

  /* 陰影樣式 */
  .in-shadow {
    box-shadow: inset -5px -5px 0 rgba(0, 0, 0, 0.236);
  }

  /* ----------------------- */
  
  /* 背景圖 */
  .bg-img {
    background-image: url(/img/b2.jpg);
    background-size: cover;
  }

  /* ----------------------- */

  /* card-board頂部 */
  .card-board-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(255, 255, 255, 0.233);
  }